.container {
  width: 100%;
  height: 100vh;
  background-color: #343541;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  height: 40px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  color: #6b6c7b;
  white-space: nowrap;
  margin-left: 10px;
  user-select: none;
}

.close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #6b6c7b;
  border-radius: 30px;
}

.line.one {
  transform: rotate(45deg);
}

.line.two {
  transform: rotate(135deg);
}

.messages-area {
  background-color: green;
  width: 100%;
  height: 210px;
}

.sender-area {
  background-color: #343541;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: flex-end;
  border-radius: 8px;
}

.message {
  width: 100%;
  height: 40px;
}

.message.one,
.message.three,
.message.five {
  background-color: #2e2f3a;
}

.message.two,
.message.four,
.message.six {
  background-color: #343541;
}

.send-img {
  width: 30px;
}

.send-input {
  outline: none;
  display: flex;
  border: none;
  background: none;
  height: 40px;
  width: 230px;
  border-radius: 7px;
  background: none;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5px;
}

.send-input::placeholder {
  color: #828e9e;
}

.input-place {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 10px;
  align-items: center;
  background-color: #40414f;
  border-radius: 7px;
  height: 40px;
  width: 280px;
  gap: 5px;
  border: 1px solid #2e2f3a;
}

.send {
  width: 30px;
  height: 30px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send-icon {
  width: 17px;
}

.container--chat {
  display: flex;
  width: 100%;
  height: 100vh;
}

.listUser {
  width: 40%;
  height: 100vh;
  background-color: aqua;
}

.area--chat {
  margin-top: 15px;
  width: 60%;
  height: 100vh;
  background-color: red;
}

#form {
  width: 60%;
  background: rgba(0, 0, 0, 0.15);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;

  flex-grow: 1;
  border-radius: 2rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;

  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

.user__item {
  width: 90%;
  height: 80px;
  list-style: none;

  background-color: brown;
}

.container__messsage--send {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  align-items: flex-end;
  margin-bottom: 50px;
}

.content__message--send {
  display: flex;
  align-items: center;
  width: 300px;
  height: 60px;
  background-color: aqua;
  border-radius: 30px;
  padding-left: 10px;
}

.message--send--time {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.container__message--received {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  align-items: flex-start;
  margin-bottom: 50px;
}

.user--recieved {
  margin-right: 15px;
}

.content__message--recieved {
  display: flex;
  width: 300px;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  padding-left: 10px;
}

.message__received {
  width: 300px;
  height: 60px;
  background-color: white;
}

.container__headline--chat {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

.size_feauter--icon {
  font-size: 25px;
  padding-left: 13px;
  margin-right: 13px;
}

.container__search--chat {
  height: 80px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout__message--send {
  width: 100%;
  display: flex;
}

.container__notifycation {
  position: relative;
}

.number__notifycation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 10px;
}

.number__notifycation {
  color: white;
}
